<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    {%load static%}
    <link rel="stylesheet" type="text/css" href="/static/style.css" />
    <title>CUJO</title>
  </head>
  <body>
    <div class="banner">
      <a href="/">
        <span class="logo">CUJO</span>
      </a>
      <span class="menu">
        <a href="/about/">
          <li>ABOUT</li>
        </a>
        <a href="/projects/">
          <li>PROJECTS</li>
        </a>
        <a href="/contact/">
          <li>CONTACT</li>
        </a>
      </span>
      <span class="languagemode"
        ><li>KOR</li>
        |
        <li>ENG</li></span
      >
    </div>

    <div class="maindashboard">
      <h1>당신의 크롬을 업그레이드 하세요</h1>
      <h2>우리의 확장 프로그램으로 시간과 재미를 모두 챙기세요</h2>
    </div>
  </body>
</html>
