<!DOCTYPE html>

<html>
  <head>
    <title>Chrome Extention</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
  </head>
  <body>
    <div class="banner">
      <div class="bannertext">
        <div class="bannertextmain">Chrome Extention</div>
        <a href="">ABOUT</a>
        <a href="">PROJECTS</a>
        <a href="">CONTACT</a>
      </div>
    </div>
    ...
    <div id="contentcontainer">
      <div class="maindashboard">
        <h1>Chrome 을 혁신하라.</h1>
      </div>
      <div class="maindashexplanation">
        <h2>크롬을 정확히 387.5% 더 효율적으로 사용하세요</h2>
      </div>
    </div>
  </body>
</html>
