<!DOCTYPE html>

<html>
  <head>
    <title>Chrome Extention</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
  </head>
  <body>
    <div class="banner">
      <div class="bannertext">
        <div class="bannertextmain">Chrome Extention</div>
        <div class="link-wrapper">
          <a href="#">ABOUT</a>
          <div class="tooltip">
            <span data-url="#about1">Our Story</span>
            <span data-url="#about2">Team</span>
          </div>
        </div>
        <div class="link-wrapper">
          <a href="#">PROJECTS</a>
          <div class="tooltip">
            <span data-url="#project1">Treewiki Engine</span>
            <span data-url="#project2">Translation</span>
          </div>
        </div>
        <div class="link-wrapper">
          <a href="#">CONTACT</a>
          <div class="tooltip">
            <span data-url="#contact1">Email Us</span>
            <span data-url="#contact2">Visit Office</span>
          </div>
        </div>
      </div>
    </div>
    ...
    <div id="contentcontainer">
      <div class="maindashboard">
        <h1>Chrome 을 혁신하라.</h1>
      </div>
      <div class="maindashexplanation">
        <h2>크롬을 정확히 387.5% 더 효율적으로 사용하세요</h2>
      </div>
    </div>
  </body>
</html>
