{% extends "account/base_entrance.html" %}
{% load i18n allauth account %}
{% block head_title %}
    {% trans "Password Reset" %}
{% endblock head_title %}


{% block content %}
<div class="reset-container">
    <!-- 왼쪽 텍스트 영역 -->
    <div class="left">
        <h1>{% trans "Password Reset" %}</h1>
        <p>{% trans "비밀번호를 잊으셨나요? 이메일을 입력해서 재설정하세요!" %}</p>
    </div>

    <!-- 오른쪽 비밀번호 리셋 폼 -->
    <div class="right">
        <div class="reset-box">
            {% element h2 %}
                {% trans "Reset Your Password" %}
            {% endelement %}
        
            {% if user.is_authenticated %}
                {% include "account/snippets/already_logged_in.html" %}
            {% endif %}

            {% url 'account_reset_password' as reset_url %}
            <form method="post" action="{{ reset_url }}">
                {% csrf_token %}
              <div class = "form-group">   
                <label for = "id_email">{% trans "Email"%}:</label>
                <input type = "email" name = "email" id = "id_email" required>
              </div>  

                <button type="submit">{% trans 'Reset My Password' %}</button>
            </form>
        
        </div>
    </div>
</div>
{% endblock content %}