html {
  margin: 0;
  padding: 0;
}
/* 전체 배경 설정 */
body {
  margin: 0;
  background: url("https://static.toss.im/assets/homepage/newtossim/new_main.png")
    center bottom no-repeat;
  background-size: cover; /* 이미지 크기를 화면에 맞춤 */
}

/* 배너 스타일 */
.banner {
  font-family: Georgia, "Times New Roman", Times, serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;

  top: 0;
}

/* 로고 스타일 */
.logo {
  font-size: 28px;
  font-weight: bold;
  color: #333;
  text-decoration: none;
}

/* 메뉴 스타일 */
.menu {
  display: flex;
  gap: 20px;
  list-style: none;
}

.menu li {
  display: inline;
  font-size: 18px;
  color: #333;
  cursor: pointer;
}

.banner a {
  text-decoration: none;
  margin-right: 20px;
}

/* 언어 선택 스타일 */
.languagemode {
  display: flex;
  font-size: 16px;
}

/* 메인 대시보드 */

.main {
  height: 800px;
}
.maindashboard {
  margin-top: 100px;
  text-align: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
h1 {
  font-size: 36px;
  margin: 0px;
}
h2 {
  font-size: 20px;
  margin-top: 30px;
}
.footer {
  background-color: black;
  padding: 20px;
  text-align: center;
}
.footer a {
  color: white;
  margin: 10px;
}
.footer a :after {
  color: white;
  margin: 10px;
  text-decoration: none;
  text-decoration-color: white;
}
