<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>myblog</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
</head>
<body>
    <header>
        <div class="logo">DIRAY</div>
        <nav>
            <ul class="nav-list">
                <li><a href="{% url "index" %}" class = "memu-item">Home</a></li>
                <li><a href="{% url "diary" %}" class = "memu-item">Diary</a></li>
                <li><a href="#" class = "memu-item">About</a></li>
                <li><a href="#" class = "memu-item">None</a></li>
                <li><a href="#" class = "memu-item">None</a></li>
                <li><a href="#" class = "memu-item">None</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="faq-container">
            <div>
                <h2 class = "center-a">   
                    <a href="{% url "memo" %}" class = "href-item"><i class = "fas fa-book"></i> 기록하기</a>                       
                </h2>
            </div>
        </div>      
    </main>
    

    <footer>
        &copy; GreatStep
    </footer>

    <main>
        <div class="faq-container">
            <div>
                <h2 class="center-a">저장된 메모들</h2>
            
            <!-- 메모가 있을 경우 -->
            {% if memos %}
                <ul>
                    {% for memo in memos %}
                        <li>
                            <h3>{{ memo.title }}</h3>
                            <p>{{ memo.content }}</p>
                            <small>작성일: {{ memo.created_at }}</small>
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>저장된 메모가 없습니다.</p>
            {% endif %}
            </div>
        </div>
    </main>



    <script>
        const faqItems = document.querySelectorAll('.faq-item h3');

        faqItems.forEach(item => {
            item.addEventListener('click', () => {
                const next = item.nextElementSibling;
                next.style.display = next.style.display === 'block' ? 'none' : 'block';
            });
        });
    </script>
</body>
</html>
