<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>myblog</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
</head>
<body>
    <header>
        <div class="logo">DIRAY</div>
        <nav>
            <ul class="nav-list">
                <li><a href="{% url "index" %}" class = "memu-item">Home</a></li>
                <li><a href="{% url "diary" %}" class = "memu-item">Diary</a></li>
                <li><a href="#" class = "memu-item">About</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="faq-container">
            <div>
                <h2 class = "center-a">   
                    <a href="{% url "memo" %}" class = "href-item"><i class = "fas fa-book"></i> 기록하기</a>                       
                </h2>
            </div>
        </div>      
    </main>
    

    <footer>
        &copy; GreatStep
    </footer>

    <main>
        <div class="faq-container">
            <div>
                <h2 class="center-container">기록들</h2>
                {% for memo in page_obj.object_list %}
                <div class="memo-item memo-i">
                    <div class="memo-title">
                        <a href="{% url 'memo_detail' memo.id %}" class = "href-item sage"> {{ memo.title }} {{ memo.created_at|date:"(Y-m-d)" }}</a>
                    </div>                  
                </div>
                {% empty %}
                <p>아직 작성된 글이 없습니다.</p>
                {% endfor %}
            </div>
        </div>    

<!--페이지네이션-->
        <div class="pagination">
            <span class="step-links sage">
                <div class="pagination">
                    <button type="submit">
                        <span class="current">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span>
                    </button>
                    <button type="submit" {% if page_obj.has_previous %} onclick="location.href='?page={{ page_obj.previous_page_number }}'" {% else %} disabled {% endif %}>이전</button>
                    <button type="submit" {% if page_obj.has_next %} onclick="location.href='?page={{ page_obj.next_page_number }}'" {% else %} disabled {% endif %}>다음</button>
                </div>
            </span>
        </div>
    </main>



    <script>
        const faqItems = document.querySelectorAll('.faq-item h3');

        faqItems.forEach(item => {
            item.addEventListener('click', () => {
                const next = item.nextElementSibling;
                next.style.display = next.style.display === 'block' ? 'none' : 'block';
            });
        });
    </script>
</body>
</html>
